<div class="main-slider-block clearfix">
    <div class="slider-block">
        <div class="slider-main">
            <div class="slider-main-item item-anim">
                <img class="bg-img" ng-src="img/bg-needs.png">
                <img class="b-img" ng-src="img/girl.png">
                <span>Вітаю вас у віртуальному<br> відділенні Unison Bank!</span>
            </div>
            <div class="slider-main-item">
                <span>Вітаю вас у віртуальному<br> відділенні Unison Bank!</span>
            </div>
        </div>
    </div>
</div>